.login_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;

}

.login {
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.login_container {
    width:300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
}

.login_container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login_container > form > h5 {
    margin-top: 5px;
}
.login_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
} 
.login_container > p {
    margin-top: 18px;
    font-size: 14px;
}
